body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242424;
    padding-top: 20px;
    overflow-y: auto;
}

.sidenav h2 {
    color: #ffffff;
    text-align: center;
}

.sidenav a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
}

.sidenav a:hover {
    background-color: #555;
}

.content {
    margin-left: 200px;
    padding: 0;
    height: 100%;
}

.content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.titulo {
    text-align: center;
    animation: 7000ms ease-in-out infinite titulo;
}

.sub-titulo {
    text-align: center;
}

.paragrafo1 {
    padding-left: 15px;
}

.fundo-geral {
    background-color: #bdbdbd;
}

code {
    font-size: large;
    color: rgb(14, 54, 165);
}

.div-titulo {
    animation: 7000ms ease-in-out infinite div-titulo;
    padding-top: 5px;
    padding-bottom: 5px;
}

@keyframes titulo {
    0% {
        color: rgb(14, 1, 26);
    }

    20% {
        color: rgb(105, 48, 2);
    }

    40% {
        color: rgb(41, 40, 40);
    }

    60% {
        color: rgb(117, 30, 117);
    }

    80% {
        color: rgb(1, 185, 1);
    }

    100% {
        color: rgb(14, 1, 26);
    }
}

@keyframes div-titulo {
    0% {
        background-color: rgb(105, 48, 2);
    }

    20% {
        background-color: rgb(41, 40, 40);
    }

    40% {
        background-color: rgb(117, 30, 117);
    }

    60% {
        background-color: rgb(1, 185, 1);
    }

    80% {
        background-color: rgb(14, 1, 26);
    }

    100% {
        background-color: rgb(105, 48, 2);
    }
}

.div-exemplo-fora {
    background-color: #7e7e7e;
    width: auto;
    margin-left: 20px;
    border-radius: 15px;
}

.exemplo {
    padding-left: 15px;
    padding-top: 5px;
}

.div-exemplo-dentro {
    background-color: #bdbdbd;
    margin-right: 30px;
    margin-left: 15px;
    border-radius: 15px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}